@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: auto;
    width: 100vw;
    font-family: "poppins", sans-serif;
}
.slide-button-container {
    z-index: 2;
    top: 25px;
    position: absolute;
    left: 55%;
    width: 40px;
    height: 23px;
}

/* Hide the checkbox */
.slide-input {
    display: none;
}

/* Slider track */
.slide-button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

/* Slider knob */
.slide-button::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FF4545;
    border-radius: 50%;
    top: 2px;
    left: 18px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    }

    /* Checkbox:checked styles */
.slide-input:checked + .slide-button {
    background-color: #ffffff;
}

.slide-input:checked + .slide-button::after {
    transform: translateX(-16px);
    background-color: #0400ff;
}

img{
    position:fixed;
    height: 600px;
    width: 100vw;
    filter: blur(2px);
    filter: grayscale(10px);
}
.login-container{
    z-index: 1;
    position: relative;
    border-radius: 50px;
    background-color: black;
    filter: opacity(80%);
    height: 300px;
    width: 270px;
    left: 60%;
    top: 100px;
    justify-items: center;
    box-shadow: 1px 1px 20px 5px black;
}
.login-container h2{
    position: relative;
    z-index: 3;
    color: #FF4545;
    text-shadow: 5px 5px 5px  black;
    top: 30px;
    right: 30px;
}
.form-group1{
    color: white;
    height: 50px;
    position: relative;
    font-size: large;
    top: 40px;
    
}
.form-group1>input{
    height: 20px;
}
.form-group2{
    color: white;
    height: 50px;
    position: relative;
    font-size: large;
    top: 50px;
    
}
.form-group2>input{
    height: 20px;
}
.login-button{
    background-color: aquamarine;
    position: relative;
    top: 70px;
    left: 80px;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border-style: none;
}
.login-button:hover {
    font-weight: bold;
    text-decoration: underline;
}
.forgot-password{
    top: 120px; 
    position: relative;
    right: 65px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    box-shadow: none;
    border: none;
}
.forgot-password:hover {
    font-weight: bold;
    text-decoration: underline;
    padding: 0;
}

.register{
    position: relative;
    top: 120px;
    right: 40px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    box-shadow: none;
    border: none;
}
.register:hover {
    font-weight: bold;
    text-decoration: underline;
    padding: 0;
}
.paragraph{
    position: absolute;
    z-index: 5;
    font-weight: bolder;
    left: 70px;

}
.paragraph span{
    position: absolute;
    z-index: 5;
    font-weight: bold;
    left: 90px;
}

/* footer */
.scrolling-text {
    position: absolute;
    display: run-in;
    bottom: 10%;
    background-color: rgba(0, 0, 139, 0.616);
    font-size: larger;
    color: #ffffff;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 100%; /* Adjust the width as needed */
    box-sizing: border-box;
  }

  .scrolling-text span {
    display: inline-block;
    animation: scroll-horizontal 15s linear infinite;
  }

  @keyframes scroll-horizontal {
    from {
      transform: translateX(60%);
    }
    to {
      transform: translateX(-100%);
    }
  }